@import 'styles/theme';

.searchbar-results.columns {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 900;

  .column {

    .results-content {
      background-color: #ffffff;
      border: 1px solid #cacaca;
  
      .results-status {

      }
    }
  }
}

@media screen and (max-width: 768px) {
  .searchbar-results {
    .results-content {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}