@import 'styles/theme';

.searchbar-results {
  position: absolute;
  padding-top: 8px;
  z-index: 900;
  width: 100%;

  .results-content {
    background-color: $white;
    border: 1px solid $light-color;
    border-radius: $radius;
    @include big-shadow();

    .results-status {
      @include h-padding(16px);
      font-size: 0.9rem;
      font-style: italic;
      color: $grey;
      min-height: 40px;
      line-height: 40px;
    }

    .results-items {
      ul {
        &:first-child {
          border-top: 1px solid $light-color;
        }
      
        &:last-child {
          border-bottom: 1px solid $light-color;
        }
      }
    }
  }
}