@import 'styles/theme';

.searchbar-results {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 900;

  .results-content {
    background-color: $white;
    border: 1px solid $light-color;
    border-radius: $radius;
    @include big-shadow();

    .results-status {
      @include h-padding(16px);
      font-size: 0.9rem;
      font-style: italic;
      color: $grey;
      min-height: 40px;
      line-height: 40px;
    }

    .results-items {
      ul {
        &:first-child {
          border-top: 1px solid $light-color;
        }
      
        &:last-child {
          border-bottom: 1px solid $light-color;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .searchbar-results {
    .results-content {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}