@import 'styles/theme';

.searchbar {
  margin-top: 0;
  background-color: $dark-primary-color;

  & > .column > div {
    position: relative;
  }

  .searchbar-header {
    
    select {
      background-color: $primary-color;
      color: $secondary-color;
      border-color: $secondary-color;
    }

    input {
      background-color: $primary-color;
      color: $secondary-color;
      border-color: $secondary-color;

      &::placeholder {
        color: $secondary-color;
      }
    }
  }
}
